<div class="settings-view">
  <div>
    <label nz-checkbox [(ngModel)]="showDowntimesInPartyArea">Downtimes in party area</label>
  </div>
  <div>
    <label nz-checkbox [(ngModel)]="buffmap">Buffs Heatmap</label>
  </div>
  <div>
    <label nz-checkbox [(ngModel)]="ogcdAsPoints">OGCD attacks as points</label>
  </div>
  <div>
    <label nz-checkbox [(ngModel)]="verticalBossAttacks">Vertical Boss Attacks</label>
  </div>
  <div>
    <label nz-checkbox [(ngModel)]="compactView">Compact View</label>
  </div>
  <div>
    <label nz-checkbox [(ngModel)]="highlightLoaded">Highlight Loaded</label>
  </div>
  <div>
    <label nz-checkbox [(ngModel)]="abilityAvailablity">Abilities Availability Map</label>
  </div>
  <div>
    <label nz-checkbox [(ngModel)]="colorfulDurations">Colorful Durations</label>
  </div>
</div>
