<ng-container *ngFor="let d of input.items">
  <nz-tag [nzColor]="d.color"
          [nz-tooltip]="!!d.tooltip && tt"
          [nzTooltipPlacement]="'right'"
          [class.clone]="d.clone"          
          [class.tableview]="true"
          (click)="select(d.refId, $event)"
          *ngIf="d.visible && (d.text || (!d.text && d.icon))">
    <div style="margin: 0 2px 1px 2px">
      <img class="abilityIcon"
           style="margin-top: -3px; "
           *ngIf="d.icon"
           [src]="d.icon" />
      <span *ngIf="d.text" style="white-space: pre-line;margin-left: 2px;">{{d.text}}</span>
      <span class="usageOffset"
            *ngIf="d.usageOffset && !d.clone && d.text"> ({{d.usageOffset}})</span>
      <span *ngIf="d.targetIcon"
            style="margin-left: 2px;">
        <span style="margin-left: 2px;">&gt;</span>
        <img class="abilityIcon"
             style="margin-left: 2px;margin-top: -3px;"
             [src]="d.targetIcon" />
      </span>
    </div>
    <ng-template #tt>
      <span class="tooltip">{{d.tooltip}}</span>
    </ng-template>
  </nz-tag>  
</ng-container>