<ng-container *ngFor="let d of input.items">
  <nz-tag [nzColor]="d.color"
          (click)="select(d.refId, $event)"
          *ngIf="d.visible">
    <div style="margin: 0 2px 1px 2px">
      <img class="abilityIcon"
           style="margin-top: -3px; margin-right: 2px;"
           *ngIf="d.icon"
           [src]="d.icon" />
      <span>{{d.text}}</span>
      <span class="usageOffset" *ngIf="d.usageOffset"> -{{d.usageOffset}}</span>
      <span *ngIf="d.targetIcon"
            style="margin-left: 2px;">
        <span style="margin-left: 2px;">&gt;</span>
        <img class="abilityIcon"
             style="margin-left: 2px;margin-top: -3px;"
             [src]="d.targetIcon" />
      </span>

    </div>
  </nz-tag>
</ng-container>