<div mat-dialog-content style="height: 70px;">
  <form nz-form>
    <nz-form-item>
      <nz-form-control nzHasFeedback [nzValidateStatus]="submitted && fightNameControl.errors && fightNameControl.errors.required?'error':''">
        <input name="fightName"  required nz-input placeholder="Fight name" [formControl]="fightNameControl" [(ngModel)]="data"/>
        <!-- <nz-form-explain *ngIf="submitted && fightNameControl.errors && fightNameControl.errors.required">You must enter a value</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<ng-template #buttonsTemplate>
  <button nz-button nzType="primary" (click)="onNoClick()">Cancel</button>
  <button nz-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</ng-template>
