<div style="height: 215px">
  <form nz-form [formGroup]="loginForm">
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="text" formControlName="username" placeholder="Username" />
        <!-- <nz-form-explain *ngIf="submitted && f.username.errors && f.username.errors.required">Username is required</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="password" placeholder="Password" />
        <!-- <nz-form-explain *ngIf="submitted && f.password.errors && f.password.errors.required">Password is required</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <div>
      Do not have account? <a href="#" (click)="onSignUp()">Sign up</a>
    </div>
  </form>
  <div *nzModalFooter>
    <button nz-button (click)="onNoClick()">No Thanks</button>
    <button nz-button (click)="onLoginClick()" [nzLoading]="loading" [disabled]="loading" cdkFocusInitial>Login</button>
  </div>
</div>

