<toolbar>
  <span class="toolbar-title">Fight Time Line</span>
</toolbar>
<div class="main-content noselect"
  style="text-align: center; height: calc(100% - 54px); max-height: calc(100% - 54px); overflow: auto" customScroll>
  <div style="width: 90%; min-width: 800px; max-width: 1400px; margin-top: 15px; display: inline-block">
    <div style="width: 90%; min-width: 800px; max-width: 1400px; margin-top: 15px; display: inline-block">
      <nz-card [nzTitle]="header">
        <ng-template #header>
          <div class="home-card">
            What would you like to do?
          </div>
        </ng-template>
        <div nz-row rowHeight="90%">
          <div nz-col nzSpan="16">
            <div class="home-column">
              <div class="card-subtitle">
                Open recent
              </div>
              <div customScroll class="recentList">
                <nz-list [nzDataSource]="container.pinned" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
                  *ngIf="container.pinned.length>0">
                  <nz-list-header>Pinned</nz-list-header>
                  <ng-template #item let-item>
                    <nz-list-item [nzActions]="[pinAction]">
                      <ng-template #pinAction>
                        <span #lstitem>
                          <a nz-dropdown nzTooltipTrigger="click" nzTooltipTrigger="hover" [nzDropdownMenu]="menu"
                            (nzVisibleChange)="listopentablevisiblechange(lstitem, $event)" nz-tooltip
                            nzTooltipTitle="Open as table"><i class="pin" nz-icon nzType="hdd"
                              nzTheme="twotone"></i></a>
                          <a nz-tooltip nzTooltipTitle="Unpin" (click)="unpin($event, item)"><i class="pin pinned"
                              nz-icon nzType="pushpin" nzTheme="twotone"></i></a>
                          <a nz-tooltip nzTooltipTitle="Remove" nz-popconfirm nzPopconfirmTitle="Are you sure?"
                            (nzOnConfirm)="delete(item)"><i class="pin" nz-icon nzType="delete"
                              nzTheme="twotone"></i></a>
                        </span>
                      </ng-template>
                      <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item (click)="onOpenTable(item,'defence')">Defensives</li>
                          <li nz-menu-item (click)="onOpenTable(item,'descriptive')">Timeline</li>
                          <li nz-menu-item (click)="onOpenTable(item,'mitigations')">Mitigations</li>
                        </ul>
                      </nz-dropdown-menu>
                      <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="nzAvatar" [nzDescription]="nzDescription"
                        (click)="onClick(item.url)">
                        <ng-template #nzTitle>
                          {{item.name}}
                        </ng-template>
                        <ng-template #nzAvatar>
                          <div [ngSwitch]="item.source">
                            <img *ngSwitchCase="0" width="48px" height="48px"
                              src="https://assets.rpglogs.com/img/ff/favicon.png" alt="">
                            <img *ngSwitchDefault width="48px" height="48px" src="https://xivapi.com/c/BNpcName.png"
                              alt="">
                          </div>
                        </ng-template>
                        <ng-template #nzDescription>
                          {{ item.timestamp | date:'short' }}
                        </ng-template>
                      </nz-list-item-meta>
                    </nz-list-item>
                  </ng-template>
                </nz-list>
                <nz-list [nzDataSource]="container.nonpinned" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                  <nz-list-header>Activities</nz-list-header>
                  <ng-template #item let-item>
                    <nz-list-item [nzActions]="[unpinAction]">
                      <ng-template #unpinAction>
                        <span #lstitem>
                          <a nz-dropdown nzTooltipTrigger="click" nzTooltipTrigger="hover" [nzDropdownMenu]="menu1"
                            (nzVisibleChange)="listopentablevisiblechange(lstitem, $event)" nz-tooltip
                            nzTooltipTitle="Open as table"><i class="pin" nz-icon nzType="hdd"
                              nzTheme="twotone"></i></a>
                          <a nz-tooltip nzTooltipTitle="Pin" (click)="pin($event, item)"><i class="pin" nz-icon
                              nzType="pushpin" nzTheme="twotone"></i></a>
                          <a nz-tooltip nzTooltipTitle="Remove" nz-popconfirm nzPopconfirmTitle="Are you sure?"
                            (nzOnConfirm)="delete(item)"><i class="pin" nz-icon nzType="delete"
                              nzTheme="twotone"></i></a>
                        </span>
                      </ng-template>
                      <nz-dropdown-menu #menu1="nzDropdownMenu">
                        <ul nz-menu>
                          <ul nz-menu>
                            <li nz-menu-item (click)="onOpenTable(item,'defence')">Defensives</li>
                            <li nz-menu-item (click)="onOpenTable(item,'descriptive')">Timeline</li>
                            <li nz-menu-item (click)="onOpenTable(item,'mitigations')">Mitigations</li>
                          </ul>
                        </ul>
                      </nz-dropdown-menu>
                      <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="nzAvatar" [nzDescription]="nzDescription"
                        (click)="onClick(item.url)">
                        <ng-template #nzTitle>
                          {{item.name}}
                        </ng-template>
                        <ng-template #nzAvatar>
                          <div [ngSwitch]="item.source">
                            <img *ngSwitchCase="0" width="48px" height="48px"
                              src="https://assets.rpglogs.com/img/ff/favicon.png" alt="">
                            <img *ngSwitchDefault width="48px" height="48px" src="https://xivapi.com/c/BNpcName.png"
                              alt="">
                          </div>
                        </ng-template>
                        <ng-template #nzDescription>
                          {{ item.timestamp | date:'short' }}
                        </ng-template>
                      </nz-list-item-meta>
                    </nz-list-item>
                  </ng-template>
                </nz-list>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="8" class="home-actions">
            <div class="home-column">
              <div class="card-subtitle">
                Get started
              </div>
              <div>
                <button nz-button class="action-button" (click)="showHelp()">Open Help</button>
              </div>
              <div *ngIf="gameService.showImport">
                <button nz-button color="primary" class="action-button" (click)="importFromFFLogs()">Import From
                  FFLogs</button>
                <div style="text-align: right;margin-top: 3px;margin-right: 23px;">
                  <a target="_blank" [href]="'https://www.fflogs.com/'+ fflogsExtraPath"
                    style="border-bottom-style: dotted;border-bottom-width: thin;">Open FFLogs</a>
                </div>
              </div>
              <div>
                <button nz-button [nzDanger]="!authenticationService.authenticated" class="action-button"
                  (click)="load()">Load</button>
              </div>
              <div>
                <button nz-button class="action-button" (click)="bossTemplates()">Boss Templates</button>
              </div>
              <div>
                <button nz-button color="primary" class="action-button" (click)="new()">Start New</button>
              </div>
            </div>
          </div>
        </div>
      </nz-card>
    </div>
    <div style="width: 90%; min-width: 800px; max-width: 1400px; margin-top: 15px; display: inline-block">
      <disqus [identifier]="'/'"></disqus>
    </div>
  </div>
</div>
<ng-template #templatePortalContent>

</ng-template>