<button nz-button nzTrigger="click" [nzDropdownMenu]="menu" [nzClickHide]="false" nz-dropdown><i nz-icon nzType="filter" theme="fill"></i>Filter</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      Ability types:
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="selfDefensive">Self Defense</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="partyDefensive">Party Defense</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="selfDamageBuff">Self Damage Buff</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="partyDamageBuff">Party Damage Buff</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="damage">OGCD Damage</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="healing">Healing</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="healingBuff">Healing Buff</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="utility">Utility</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="enmity">Enmity</label>
    </li>
    <!-- <li nz-menu-item> -->
    <!--   <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="pet">Pets</label> -->
    <!-- </li> -->
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="unused">Show unused</label>
    </li>
    <li nz-menu-item>
      Boss attack types:
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="isTankBuster">Tank buster</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="isAoe">AOE</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="isShare">Share damage</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="isOther">Other</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="isMagical">Magical damage</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="isPhysical">Physical damage</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="isUnaspected">Unaspected damage</label>
    </li>
  </ul>
</nz-dropdown-menu>
