<button nz-button
        nzTrigger="click"
        nz-popover
        (click)="change()"
        [(nzPopoverVisible)]="visible"
        (nzPopoverVisibleChange)="change($event)"
        nzPopoverTrigger="click"
        nzPopoverPlacement="bottomLeft"
        [nzPopoverContent]="contentTemplate">
  <span>
    <i nz-icon nzType="filter" theme="twotone"></i>
    Filter
  </span>
</button>

<ng-template #contentTemplate>
  <div nz-row style="width: 560px;" class="noselect">
    <div nz-col nzSpan="12">
      <div>
        <strong>Ability types</strong>
      </div>
      <ul nz-menu>
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.selfDefence">Self Defense</label>
        </li>
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.partyDefence">Party Defense</label>
        </li>
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.selfDamageBuff">Self Damage Buff</label>
        </li>
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.partyDamageBuff">Party Damage Buff</label>
        </li>
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.damage">OGCD Damage</label>
        </li>
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.healing">Healing</label>
        </li>
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.healingBuff">Healing Buff</label>
        </li>
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.utility">Utility</label>
        </li>
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.enmity">Enmity</label>
        </li>        
        <li nz-menu-item>
          <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="presenterManager.filter.abilities.unused">Show unused</label>
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="12" style="padding: 5px;">
      <div>
        <div>
          <strong>Boss Attacks Tags</strong>
        </div>
        <nz-tag *ngFor="let tag of tags" nzMode="checkable" [(nzChecked)]="tag.checked" (nzCheckedChange)="updateFilter()">{{tag.text}}</nz-tag>
      </div>
      <div>
        <div *ngIf="sources && sources.length">
          <strong>Boss Attacks Sources</strong>
        </div>
        <nz-tag *ngFor="let source of sources" nzMode="checkable" [(nzChecked)]="source.checked" (nzCheckedChange)="updateFilter()">{{source.text}}</nz-tag>
      </div>
      <div style="margin-top: 8px;">
        <div>
          <strong>Boss Attacks Damage Type</strong>
        </div>
        <nz-tag nzMode="checkable" [(nzChecked)]="presenterManager.filter.attacks.isMagical" (nzCheckedChange)="updateFilter()">Magical</nz-tag>
        <nz-tag nzMode="checkable" [(nzChecked)]="presenterManager.filter.attacks.isPhysical" (nzCheckedChange)="updateFilter()">Physical</nz-tag>
        <nz-tag nzMode="checkable" [(nzChecked)]="presenterManager.filter.attacks.isUnaspected" (nzCheckedChange)="updateFilter()">Unaspected</nz-tag>
      </div>
    </div>
  </div>
</ng-template>
