<nz-space nzDirection="vertical">
  <nz-space-item>
    Multiple actions
  </nz-space-item>
  <nz-space-item>
    <sidepanel-area header="Selection">
      <div>
        <nz-tag *ngFor="let ab of items" nzMode="default">
          <span>
            <img class='abilityIcon' [src]="ab.ability.ability.icon" />
            <span class='abilityName'>{{ab.ability.ability.name}}</span>
            <i nz-icon nzType="clock-circle" theme="outline"></i>
            <span class='abilityTime'>{{formatDate(ab.start)}}</span>
          </span>
        </nz-tag>
      </div>
    </sidepanel-area>
  </nz-space-item>
  <nz-space-item *ngIf="data.mode === 'default'">
    <button nz-button nzType="primary" (click)="remove()" nzDanger>Remove</button>
  </nz-space-item>
</nz-space>

