<div #timeline style="height: 560px; overflow: auto; padding: 4px;" customScroll>
  <nz-timeline>
    <nz-timeline-item *ngFor="let change of data; index as i; " [nzColor]="i==0?'green':'blue'">
      <div><b>{{change.date}}</b></div>
      <ul *ngFor="let item of change.items" [ngStyle]="{'margin-bottom': '4px'}">
        <li innerHtml="{{item}}"></li>        
      </ul>
    </nz-timeline-item>
  </nz-timeline>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="this.dialogRef.destroy()">Close</button>
  </div>
</div>