<div style="height: 360px;">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-control>
        <div>
          <img [src]="data.ability.icon" class="icon" />
          <span class="abilityName">{{data.ability.name}}</span>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngFor="let setting of data.settings">
      <nz-form-label [nzSpan]="4" [nzFor]="setting.name">{{setting.displayName}}</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <div [ngSwitch]="setting.type">
          <div *ngSwitchCase="'boolean'">
            <nz-switch [formControlName]="setting.name" style="margin-left: 15px" [id]="setting.name"></nz-switch>
          </div>
          <div *ngSwitchCase="'partyMember'">
            <nz-select [formControlName]="setting.name" [id]="setting.name" [nzPlaceHolder]="setting.displayName">
              <nz-option nzValue="" nzLabel="None"></nz-option>
              <nz-option *ngFor="let j of data.jobs" [nzValue]="j.id" [nzLabel]="j.job.name+' '+(j.actorName || '')"></nz-option>
            </nz-select>
          </div>
        </div>
      </nz-form-control>
      <nz-form-control nzSpan="1">
        <i nz-icon nzType="info-circle" theme="twotone" style="margin-left: 8px" nz-tooltip [nzTooltipTitle]="setting.description"></i>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div *nzModalFooter>
    <button nz-button (click)="onYesClick()">Ok</button>
    <button nz-button nzType="primary" (click)="onNoClick()">Cancel</button>
  </div>
</div>
