<div class="sidepanel-container">
  <div class="sidepanel-full">
    <div>Multiple actions</div>
    <div *ngIf="data.mode === 'default'">
      <nz-button-group>
        <button nz-button nzType="primary" (click)="remove()" nzDanger>Remove</button>
      </nz-button-group>
    </div>
  </div>
  <sidepanel-area header="Selection">
    <div>
      <nz-tag *ngFor="let ab of items" nzMode="default">
        <span>
          <img class='abilityIcon' [src]="ab.ability.ability.icon" />
          <span class='abilityName'>{{ab.ability.ability.name}}</span>
          <i nz-icon nzType="clock-circle" theme="outline"></i>
          <span class='abilityTime'>{{formatDate(ab.start)}}</span>
        </span>
      </nz-tag>
    </div>
  </sidepanel-area>
</div>