<form nz-form>
  <nz-form-item>
    <nz-form-control nzSpan="12">
      <nz-select nzPlaceHolder="Template" name="exportTemplatesList" [formControl]="exportTemplatesControl" nzSize="small">
        <nz-option *ngFor="let template of templates" [nzValue]="template.name" [nzLabel]="template.name"></nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-control nzSpan="12">
      <button nz-button [disabled]="!this.exportTemplatesControl.value" (click)="show()" nzSize="small">Show</button>
    </nz-form-control>
  </nz-form-item>
</form>

<div mat-dialog-content style="height: 650px">
  <nz-table #table [nzData]="set.rows" *ngIf="set" [nzScroll]="{ y: '600px' }" [nzBordered]="true" [nzShowPagination]="false" nzSize="small">
    <thead>
      <tr>
        <th *ngFor="let column of set.columns" [nzWidth]="getWidth(column.text, !!column.icon)"><img class="abilityIcon" *ngIf="column.icon" [src]="column.icon" />{{column.text}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of set.rows">
        <td *ngFor="let cell of row">
          <div *ngFor="let d of cell">
            <div *ngIf="d.lineColor" [ngStyle]="{'background-color':d.lineColor}" class='marker'></div>
            <div>
              <img class="abilityIcon" *ngIf="d.icon" [src]="d.icon" />
              {{d.text}}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div *nzModalFooter>
  <button nz-button (click)="onClose()" nzType="primary" cdkFocusInitial>Close</button>
</div>
