<div style="height: 275px">
  <form nz-form [formGroup]="form" (ngSubmit)="onRegisterClick()">
    <nz-form-item>
      <nz-form-control nzHasFeedback [nzValidateStatus]="checkingUser?'validating':(f.username.value.length > 0 && !checkingUser && !f.username.errors?'success':'error')">
        <input nz-input type="text" formControlName="username" placeholder="Username" />
        <!-- <nz-form-explain *ngIf="f.username.errors && f.username.errors.required">Username is required</nz-form-explain> -->
        <!-- <nz-form-explain *ngIf="f.username.value.length > 0 && f.username.errors && !f.username.errors.isUserNameUnique">Username is already in use</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="password" placeholder="Password" />
        <!-- <nz-form-explain *ngIf="f.password.errors && f.password.errors.required">Password is required</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="repeatPassword" placeholder="Confirm password" />
        <!-- <nz-form-explain *ngIf="f.repeatPassword.errors && f.repeatPassword.errors.required">Password confirmation is required</nz-form-explain> -->
        <!-- <nz-form-explain *ngIf="f.repeatPassword.errors && f.repeatPassword.errors.matchOther">Passwords are not same</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div style="margin-top: 15px">
          <ngx-recaptcha2 formControlName="recaptcha"
                          size="Normal"
                          hl="en"
                          theme="Light"
                          type="Image"
                          siteKey="6LfToGAUAAAAAKcp3joBgzcqJ3sK_s_WCltAL7Tn"
                          (success)="handleSuccess($event)">
          </ngx-recaptcha2>
          <!-- <nz-form-explain *ngIf="f.recaptcha.errors && f.recaptcha.errors.required">Captcha is required</nz-form-explain> -->
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div *nzModalFooter>
    <button nz-button (click)="onNoClick()">No Thanks</button>
    <button nz-button (click)="onRegisterClick()" [nzLoading]="loading" [disabled]="loading" cdkFocusInitial>Register</button>
  </div>
</div>
