<div style="min-height: 420px;">
  <nz-tabset [nzSelectedIndex]="1">
    <nz-tab [nzDisabled]="true" [nzTitle]="header">
      <ng-template #header>
        <h3 style="color: black;margin: 0 0 0">Boss Attack</h3>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="mainHeader">
      <ng-template #mainHeader>
        <nz-badge [nzDot]="submitted && editForm.invalid">
          Main
        </nz-badge>
      </ng-template>
      <form nz-form [formGroup]="editForm">
        <nz-form-item [nzGutter]="24">
          <nz-form-control nzSpan="10" [nzHasFeedback]="submitted" [nzValidateStatus]="submitted && f.bossAttackName.errors?'error':'success'">
            <input nz-input formControlName="bossAttackName" placeholder="Attack name">
            <!-- <nz-form-explain *ngIf="submitted && f.bossAttackName.errors && f.bossAttackName.errors.required">You must enter a value</nz-form-explain> -->
          </nz-form-control>
          <nz-form-control nzSpan="10" [nzValidateStatus]="submitted && f.damageType.errors?'error':'success'">
            <nz-radio-group formControlName="damageType" nzPlaceHolder="Damage type" [nzButtonStyle]="'solid'">
              <label nz-radio-button [nzValue]="0" nzLabel="None">None</label>
              <label nz-radio-button [nzValue]="1" nzLabel="Physical">Physical</label>
              <label nz-radio-button [nzValue]="2" nzLabel="Magical">Magical</label>
            </nz-radio-group>
            <!-- <nz-form-explain *ngIf="submitted && f.damageType.errors && f.damageType.errors.required">You must select a value</nz-form-explain> -->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzSpan="10" [nzHasFeedback]="submitted" [nzValidateStatus]="submitted && f.bossAttackTime.errors?'error':'success'">
            <input nz-input wheelOn formControlName="bossAttackTime" placeholder="Time" [ngClass]="{ 'is-invalid': submitted && f.bossAttackTime.errors}">
            <!-- <nz-form-explain *ngIf="submitted && f.bossAttackTime.errors && f.bossAttackTime.errors.required">You must enter a value</nz-form-explain> -->
            <!-- <nz-form-explain *ngIf="submitted && f.bossAttackTime.errors && f.bossAttackTime.errors.time">You must enter a value in format mm:ss</nz-form-explain> -->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="tankBuster" style="margin-right: 10px">Tank Buster</label>
          </nz-form-control>
          <nz-form-control>
            <label nz-checkbox formControlName="aoe" style="margin-right: 10px">AoE</label>
          </nz-form-control>
          <nz-form-control>
            <label nz-checkbox formControlName="share" style="margin-right: 10px">Share Damage</label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <textarea nz-input placeholder="Description" formControlName="description" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-tab>
    <nz-tab nzTitle="FFLogs Sync" *ngIf="gameService.showImport">
      <syncSettings #syncSettings [data]="data"></syncSettings>
    </nz-tab>
  </nz-tabset>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="dialogRef.destroy()">Cancel</button>
    <button nz-button (click)="onSaveClick()">Ok</button>
    <button nz-button *ngIf="!newAttack" (click)="onSaveAllClick()">Ok for All with same name</button>
  </div>
</div>
