
<button nz-button [nzDropdownMenu]="menu" nz-dropdown [nzTrigger]="'click'" [nzClickHide]="false"><i nz-icon nzType="eye" theme="twotone"></i>View</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu class="noselect">
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateView()" [(ngModel)]="showDowntimesInPartyArea">Downtimes in party area</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateView()" [(ngModel)]="buffmap">Damage Buffs Heatmap</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateView()" [(ngModel)]="ogcdAsPoints">OGCD attacks as points</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateView()" [(ngModel)]="verticalBossAttacks">Vertical Boss Attacks</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateView()" [(ngModel)]="compactView">Compact View</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateView()" [(ngModel)]="highlightLoaded">Highlight Loaded</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateView()" [(ngModel)]="abilityAvailablity">Abilities Availability Map</label>
    </li>
    <li nz-menu-item>
      <label nz-checkbox (ngModelChange)="updateView()" [(ngModel)]="colorfulDurations">Colorful Durations</label>
    </li>
  </ul>
</nz-dropdown-menu>

