.importDialogList {
  height: 290px;
  overflow: auto;
  scroll-behavior: auto;
}


.loadList .ant-list-item:hover {
  background-color: #e6f7ff;
}

.loadList .ant-list-item {
  cursor: pointer;
}


.action-icon {
  visibility: hidden;
  margin: 0 2px 0 2px;
}

nz-list-item:hover .action-icon {
  visibility: visible;
}

.action-icon:hover {
  transform: scale(1.4)
}
