<toolbar #toolbar
         showHome="true"
         showJobButton="true"
         showMenu="true"
         showUndoRedo="true"
         showfilter="true"
         showView="true"
         showTools="true"
         showTeamwork="true"
         showRefresh="true"
         [authenticated]="authenticationService.authenticated"
         [username]="authenticationService.username"
         [canUndo]="fightLineController.canUndo"
         [canRedo]="fightLineController.canRedo"
         [connectedUsers]="fightHubService.users"
         [connected]="fightHubService.connected"
         [availableTools]="['Downtime','Sticky Attacks','Copy & Paste']"
         [fraction]="fightLineController.fraction"
         (addJob)="addJob($event)"
         (undo)="undo()"
         (redo)="redo()"
         (tool)="useTool($event)"
         (exportToTable)="exportToTable()"
         (showTable)="showAsTable()"
         (refresh)="refresh()"
         (saveFight)="saveFight()"
         (filterUpdate)="updateFilter($event)"
         (viewUpdate)="updateView($event)"
         (startNew)="onNew()"
         (sessionStart)="startSession()"
         (sessionStop)="stopSession()"
         (bossTemplates)="openBossTemplates()">
</toolbar>
<div class="main-content">

  <as-split direction="vertical" unit="percent" gutterSize="5" [ngStyle]="{width:'100%', height:'100%'}" restrictMove="true" keyHandler (onCommand)="onCommand($event)">
    <as-split-area size="8" minSize="10" maxSize="50" >
      <div style="width: 100%; height: 100%">
        <div class="boss-timeline" [visTimeline]="visTimelineBoss" style="width: 100%; height: 100%"
             [visTimelineItems]="itemsBoss"
             [visTimelineGroups]="groupsBoss"
             [visTimelineOptions]="optionsBoss"
             (initialized)="timelineBossInitialized()"></div>
      </div>
    </as-split-area>
    <as-split-area size="92" minSize="50" >
      <div style="width: 100%; height: 100%">
        <div class="timeline" [visTimeline]="visTimeline" style="width: 100%; height: 100%"
             [visTimelineItems]="items"
             [visTimelineGroups]="groups"
             [visTimelineOptions]="options"
             (initialized)="timelineInitialized()">

        </div>
      </div>
    </as-split-area>
  </as-split>

</div>

<nz-drawer #sidenav
           [nzVisible]="sideNavOpened"
           nzPlacement="right"
           [nzClosable]="false"
           [nzMask]="false"
           nzWidth="305px"
           [nzMaskClosable]="true"
           [nzBodyStyle]="{padding: '2px'}"
           [nzMaskStyle]="{width:'0px !important'}">
  <div style="width: 300px;">
    <div style="background-color: white">
      <sidepanel #sidepanel></sidepanel>
    </div>
  </div>
</nz-drawer>
<ng-progress #progressBar [speed]="500" [trickleSpeed]="30000" [spinner]="false"></ng-progress>

