<toolbar #toolbar
         [showHome]="true"
         [showJobButton]="true"
         [showMenu]="true"
         [showUndoRedo]="true"
         [showfilter]="true"
         [showView]="true"
         [showTools]="true"
         [showTeamwork]="true"
         [showRefresh]="true"
         [authenticated]="authenticationService.authenticated"
         [username]="authenticationService.username"
         [canUndo]="fightLineController.canUndo"
         [canRedo]="fightLineController.canRedo"        
         [connectedUsers]="fightHubService.users"
         [connected]="fightHubService.connected"
         [toolsManager]="toolsManager"         
         [fraction]="fightLineController.fraction"
         (addJob)="addJob($event)"
         (undo)="onUndo()"
         (redo)="onRedo()"
         (exportToTable)="exportToTable()"
         (showTable)="showAsTable()"
         (refresh)="planArea.refresh()"
         (saveFight)="saveFight()"
         (filterUpdate)="updateFilter($event)"
         (viewUpdate)="updateView($event)"
         (startNew)="onNew()"
         (sessionStart)="startSession()"
         (table)="onTable($event)"
         (sessionStop)="stopSession()"
         (bossTemplates)="openBossTemplates()">
</toolbar>
<planArea #planArea (action)="onAction($event)"></planArea>
<nz-drawer #sidenav
           [nzVisible]="sideNavOpened"
           nzPlacement="right"
           [nzClosable]="false"
           [nzMask]="false"
           nzWidth="305px"
           [nzMaskClosable]="true"
           [nzBodyStyle]="{padding: '2px'}"
           [nzMaskStyle]="{width:'0px !important'}">
  <div style="width: 300px;" class="noselect" customScroll>
    <div style="background-color: white">
      <sidepanel #sidepanel></sidepanel>
    </div>
  </div>
</nz-drawer>
<ng-progress #progressBar [speed]="500" [trickleSpeed]="30000" [spinner]="false"></ng-progress>

